menu "Debug Modules"

menuconfig MOD_ENABLE_CM_BACKTRACE
bool "CmBacktrace (Call Stack Trace)"
default n
if MOD_ENABLE_CM_BACKTRACE
    source "debug/cm_backtrace/Kconfig"
endif

menuconfig MOD_ENABLE_COREMARK
bool "Coremark (Benchmark)"
default n

menuconfig MOD_ENABLE_LOG
bool "Log (Single Header Logger)"
select MOD_ENABLE_UNI_IO
default y
if MOD_ENABLE_LOG
    source "debug/log/Kconfig"
endif

menuconfig MOD_ENABLE_MINCTEST
bool "Minctest (Minimal Unit Test Framework)"
default n

menuconfig MOD_ENABLE_RTT
bool "Segger RTT"
default n

endmenu
