menu "Scheduler Configuration"

config SCH_CFG_ENABLE_TASK
    bool "Enable Task Support"
    default y
    help
      Enable the task support in the scheduler.

config SCH_CFG_ENABLE_EVENT
    bool "Enable Event Support"
    default y
    help
      Enable the event support in the scheduler.

config SCH_CFG_ENABLE_COROUTINE
    bool "Enable Coroutine Support"
    default y
    help
      Enable the coroutine support in the scheduler.

config SCH_CFG_ENABLE_CALLLATER
    bool "Enable CallLater Support"
    default y
    help
      Enable the call later support in the scheduler.

config SCH_CFG_ENABLE_SOFTINT
    bool "Enable Software Interrupt Support"
    default y
    help
      Enable the software interrupt support in the scheduler.

config SCH_CFG_STATIC_NAME
    bool "Use Static Name"
    default n
    help
      Use static name for the task, event, coroutine and call later.

config SCH_CFG_STATIC_NAME_LEN
    int "Static Name Max Length"
    default 16
    range 8 64
    depends on SCH_CFG_STATIC_NAME
    help
      The max length of the static name (-1 for \0).

config SCH_CFG_COMP_RANGE_US
    int "Task Auto Compensate Range (us)"
    default 1000
    range 0 10000
    help
      The compensate range in us for the task scheduling.

config SCH_CFG_DEBUG_REPORT
    bool "Enable Debug Report"
    default n
    help
      Enable the debug report in the scheduler. (Causing performance overhead)

config SCH_CFG_DEBUG_PERIOD
    int "Debug Report Period (s)"
    default 5
    range 1 60
    depends on SCH_CFG_DEBUG_REPORT
    help
      The debug report period in seconds. (best for < 10s)

config SCH_CFG_DEBUG_MAXLINE
    int "Debug Report Max Line"
    default 10
    range 1 1000
    depends on SCH_CFG_DEBUG_REPORT
    help
      The max line number of each debug report.

config SCH_CFG_ENABLE_TERMINAL
    bool "Enable Terminal Support"
    default y
    help
      Enable the terminal support in the scheduler. (Depends on embedded-cli module)
endmenu
