config KLITE_CFG_FREQ
    int "Kernel Frequency"
    default 1000
    range 100 100000
    help
        The frequency of the kernel clock in Hz.

config KLITE_CFG_MAX_PRIO
    int "Max Priority"
    default 7
    range 1 31
    help
        The maximum priority level of the kernel.
        Available prio = 1 ~ Max Priority(include)
        Priority 0 is reserved for idle thread.

config KLITE_CFG_DEFAULT_PRIO
    int "Default Priority"
    default 4
    range 1 KLITE_CFG_MAX_PRIO
    help
        The default priority level of the thread created with prio=0.

choice
    prompt "Kernel Heap Provider"
    default KLITE_CFG_HEAP_USE_BUILTIN

    config KLITE_CFG_HEAP_USE_BUILTIN
        bool "Built-in"

    config KLITE_CFG_HEAP_USE_HEAP4
        select MOD_ENABLE_HEAP4
        bool "Third-Party: Heap4 (FreeRTOS)"

    config KLITE_CFG_HEAP_USE_LWMEM
        select MOD_ENABLE_LWMEM
        bool "Third-Party: LwMEM"
endchoice

menu "Built-in Heap Configuration"
    depends on KLITE_CFG_HEAP_USE_BUILTIN
    config KLITE_CFG_HEAP_USE_BESTFIT
        bool "Best Fit (or First Fit)"
        default y
        help
            Use the best fit algorithm to allocate memory.
            If not, use the first fit algorithm.
    config KLITE_CFG_HEAP_CLEAR_MEMORY_ON_FREE
        bool "Clear Memory on Free"
        default n
        help
            Clear the memory when the memory is freed or reallocated.

    config KLITE_CFG_HEAP_STORAGE_PREV_NODE
        bool "Storage Previous Memory Block Node"
        default y
        help
            Store the previous node pointer in the memory block. Get O(1) time complexity for free() and realloc() operation but cost 4 bytes of memory more for each block.

    config KLITE_CFG_HEAP_TRACE_OWNER
        bool "Trace Owner (Debug)"
        default n
        help
            Trace the owner of each memory block. Cost 4 bytes of memory more for each block.

    config KLITE_CFG_HEAP_ALIGN_BYTE
        int "Align Byte"
        default 4
        range 1 1024
        help
            The alignment of the memory block. The value should be the power of 2. Default is 4 bytes for 32-bit CPU and 8 bytes for 64-bit CPU.
endmenu

config KLITE_CFG_DEFAULT_STACK_SIZE
    int "Default Stack Size"
    default 1024
    range 1 1024000
    help
        The default stack size of the thread created with stack_size=0.

config KLITE_CFG_IDLE_THREAD_STACK_SIZE
    int "Idle Thread Stack Size"
    default 256
    range 256 1024000
    help
        The stack size of the idle thread.

config KLITE_CFG_STACK_OVERFLOW_DETECT
    bool "Enable Stack Overflow Detect"
    default n
    help
        Checking magic number barrier at both sides of the stack.
        Only available when the overflow have not occurred hard fault, and the thread can be switched out.
if KLITE_CFG_STACK_OVERFLOW_DETECT
choice
    prompt "Stack Overflow Behavior"
    default KLITE_CFG_STACKOF_BEHAVIOR_CALLBACK

    config KLITE_CFG_STACKOF_BEHAVIOR_CALLBACK
        bool "Callback [kl_stack_overflow_hook]"

    config KLITE_CFG_STACKOF_BEHAVIOR_SYSRESET
        bool "Reset System"

    config KLITE_CFG_STACKOF_BEHAVIOR_HARDFLT
        bool "Hard Fault (by accessing 0x10 address)"

    help
        The behavior when a stack overflow is detected.
endchoice

choice
    prompt "Stack Overflow Detect On"
    default KLITE_CFG_STACKOF_DETECT_ON_TASK_SWITCH

    config KLITE_CFG_STACKOF_DETECT_ON_TASK_SWITCH
        bool "Task Switch"

    config KLITE_CFG_STACKOF_DETECT_ON_TICK_INC
        bool "Tick Increment"

    help
        The timing to detect the stack overflow.
endchoice

config KLITE_CFG_STACKOF_SIZE
    int "Stack Overflow Barrier Size (uint32_t)"
    default 8
    range 1 128
    help
        The size of the magic number used to detect the stack overflow.
endif

choice
    prompt "Wait List Order by"
    default KLITE_CFG_WAIT_LIST_ORDER_BY_PRIO
    help
        The wait list, which is used to store the threads that are waiting for the object like mutex and semaphore, will be ordered by the selected method.

    config KLITE_CFG_WAIT_LIST_ORDER_BY_PRIO
        bool "Priority"

    config KLITE_CFG_WAIT_LIST_ORDER_BY_FIFO
        bool "FIFO"
endchoice

config KLITE_CFG_64BIT_TICK
    bool "64-bit Tick Variable (uint64_t)"
    default y
    help
        Use 64-bit (uint64_t) tick for the user space.

menuconfig KLITE_CFG_OPT_ENABLE
    bool "Optional Features"
    default y
if KLITE_CFG_OPT_ENABLE
    config KLITE_CFG_OPT_MUTEX
        bool "Mutex"
        default y
        help
            Enable the mutex.

    config KLITE_CFG_OPT_SEM
        bool "Semaphore"
        default y
        help
            Enable the semaphore.

    config KLITE_CFG_OPT_COND
        bool "Condition Variable"
        default y
        help
            Enable the condition variable.

    config KLITE_CFG_OPT_BARRIER
        bool "Barrier"
        default n
        help
            Enable the barrier.

    config KLITE_CFG_OPT_RWLOCK
        bool "Read-Write Lock"
        default n
        select KLITE_CFG_OPT_MUTEX
        select KLITE_CFG_OPT_COND
        help
            Enable the read-write lock.

    config KLITE_CFG_OPT_EVENT
        bool "Event"
        default n
        help
            Enable the event.

    config KLITE_CFG_OPT_EVENT_FLAGS
        bool "Event Flags"
        default n
        select KLITE_CFG_OPT_MUTEX
        select KLITE_CFG_OPT_COND
        help
            Enable the event flags.

    config KLITE_CFG_OPT_MAILBOX
        bool "Mailbox"
        default n
        select KLITE_CFG_OPT_MUTEX
        select KLITE_CFG_OPT_COND
        help
            Enable the mailbox.

    config KLITE_CFG_OPT_MPOOL
        bool "Memory Pool"
        select KLITE_CFG_OPT_MUTEX
        select KLITE_CFG_OPT_COND
        default n
        help
            Enable the memory pool.

    config KLITE_CFG_OPT_MQUEUE
        bool "Message Queue"
        default n
        select KLITE_CFG_OPT_MUTEX
        select KLITE_CFG_OPT_COND
        help
            Enable the message queue.

    config KLITE_CFG_OPT_TIMER
        bool "Software Timer"
        default n
        select KLITE_CFG_OPT_MUTEX
        select KLITE_CFG_OPT_COND
        help
            Enable the software timer.

    config KLITE_CFG_OPT_THREAD_POOL
        bool "Thread Pool"
        default n
        select KLITE_CFG_OPT_MQUEUE
        help
            Enable the thread pool.
endif
