menu "Klite RTOS Configuration"
config KERNEL_CFG_FREQ
    int "Kernel Frequency"
    default 100000
    range 100 1000000
    help
        The frequency of the kernel clock in Hz.

config KERNEL_CFG_MAX_PRIO
    int "Max Priority"
    default 7
    range 1 31
    help
        The maximum priority level of the kernel.
        Available prio = 1 ~ Max Priority(include)
        Priority 0 is reserved for idle thread.

config KERNEL_CFG_DEFAULT_PRIO
    int "Default Priority"
    default 4
    range 1 KERNEL_CFG_MAX_PRIO
    help
        The default priority level of the thread created with prio=0.

config KERNEL_CFG_HOOK_ENABLE
    bool "Enable Kernel Hooks"
    default y
    help
        Enable the kernel hooks.

choice
    prompt "Kernel Heap Provider"
    default KERNEL_CFG_HEAP_USE_HEAP4

    config KERNEL_CFG_HEAP_USE_BARE
        bool "Simple Heap (Bare)"

    config KERNEL_CFG_HEAP_USE_HEAP4
        bool "Heap4 (From FreeRTOS)"

    config KERNEL_CFG_HEAP_USE_LWMEM
        bool "LwMEM"
endchoice

config KERNEL_CFG_DEFAULT_STACK_SIZE
    int "Default Stack Size"
    default 1024
    range 1 102400
    help
        The default stack size of the thread created with stack_size=0.

config KERNEL_CFG_IDLE_THREAD_STACK_SIZE
    int "Idle Thread Stack Size"
    default 256
    range 256 102400
    help
        The stack size of the idle thread.

config KERNEL_CFG_STACK_OVERFLOW_GUARD
    bool "Enable Stack Overflow Guard"
    default n
    help
        Enable the stack overflow guard.
        Only available when the overflow have not occurred usage fault, and the thread can be switched out.
        By detect 32 bytes of magic number at the bottom of the stack.

choice
    prompt "Stack Overflow Behavior"
    default KERNEL_CFG_STACKOF_BEHAVIOR_SYSRESET

    config KERNEL_CFG_STACKOF_BEHAVIOR_SYSRESET
        bool "Reset System"

    config KERNEL_CFG_STACKOF_BEHAVIOR_SUSPEND
        bool "Suspend the thread (may fail)"

    config KERNEL_CFG_STACKOF_BEHAVIOR_HARDFLT
        bool "Hard Fault (by accessing 0x10 address)"

    help
        The behavior when a stack overflow is detected.
endchoice

endmenu
