menu "LFBB Configuration"

config LFBB_DISABLE_ATOMIC
    bool "Disable atomic operations"
    default n

config LFBB_CACHELINE_LENGTH
    int "Cache line length"
    default 64

config LFBB_MULTICORE_HOSTED
    bool "Multicore hosted"
    default n

endmenu
