menu "Communication Modules"

menuconfig MOD_ENABLE_CHERRYUSB
bool "CherryUSB"
default n

menuconfig MOD_ENABLE_LWPKT
bool "LWPkt (Lightweight Packet)"
select MOD_ENABLE_LWRB
default n

menuconfig MOD_ENABLE_MINMEA
bool "MinMEA (Minimal NMEA Parser)"
default n

menuconfig MOD_ENABLE_MODBUS
bool "Modbus"
select MOD_ENABLE_LOG
default n

menuconfig MOD_ENABLE_TINYFRAME
bool "TinyFrame"
default n
if MOD_ENABLE_TINYFRAME
source "communication/TinyFrame/Kconfig"
endif

menuconfig MOD_ENABLE_XYMODEM
bool "XYModem (File Transfer Protocol)"
select MOD_ENABLE_LOG
default n

endmenu
